html {
    --accent: #eb3636;
    --accent-light: #ec6262;
    --accent-shadow: #ff0202;
    --bg: #0f0f0f;
    --bg-light: #2a2a2a;
    --bg-invert: #c7c7c7;
    --text: #ffffff;
    --text-shadow: #3f3f3f;

    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

body {
    height: 100%;
    background-color: var(--bg);
    color: var(--text);
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    font-size: 17.5px;
    margin: 0;
    padding: 0;
}

.fadein {
    opacity: 0;
    transform: translateY(5vh);
    visibility: hidden;
    transition: opacity 0.5s ease-out, transform 1s ease-out;
    will-change: opacity, visibility;
}

.fadein.visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

h1 {
    font-size: 60px;
    margin: 10px;
}

h2 {
    margin: 10px;
}

#navbar {
    overflow: hidden;
    background-color: var(--text-shadow);
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 15px;
    z-index: 5;
}

#navbar a {
    float: left;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--text);
    transition: ease-out 0.25s;
}

#navbar a:hover {
    color: var(--accent-light);
    background-color: var(--bg-invert);
    transition: ease-out 0.25s;
}

.container {
    padding: 25px;
    margin: auto;
    background-color: var(--bg-light);
    border-radius: 10px;
}

.container.large {
    width: 75%;
}

.container.mid {
    width: 50%;
}

.container.small {
    width: 25%;
}

hr {
    color: var(--accent-light);
}